---
const res = await fetch("https://wger.de/api/v2/exercise/");
const exercisesData = await res.json();
const exercises = exercisesData.results;

const fetchMuscles = await fetch("https://wger.de/api/v2/muscle/");
const muscleData = await fetchMuscles.json(); 
const muscles = muscleData.results;

// console.log(exercisesData); 
console.log(exercises); 
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>API</title>
	</head>
	<body>
		<h1>Crypto Prices</h1>
		<p>Sup {exercises[1].muscles}</p>
		<p>Dit nummer: {exercises[1].muscles} is deze muscle: {muscles[`${exercises[1].muscles}`].name}</p>
		<!-- <ul>
			{coins.map((c) => (
				<li><strong>{c}:</strong> ${prices[c]}</li>
			))}
		</ul> -->
	</body>
</html>
